.landing-block {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-links {
  width: 100%;
  text-align: center;
}
button{
  font-size: 15px;
}
